@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

//Colors:
$dark-blue: #135589;
$blue: #2A93D5;
$light-blue: #AED9DA;
$turquoise: #3DDAD7;
$gray-blue: #EDFAFD;
$dark-gray: #36454f;
$light-gray: #d3d3d3;

//Fonts:
h1, h2, h3, h4, h5, h6 {
    font-family: lato;
}
p {
  font-family: open-sans, sans-serif;
  font-size: 14px;
  line-height: 1.7;
}
