@import url('https://fonts.googleapis.com/css?family=Lato');

//Colors:
$dark-blue: #135589;
$blue: #2A93D5;
$light-blue: #AED9DA;
$turquoise: #3DDAD7;
$gray-blue: #EDFAFD;

//Fonts:
body {
    font-family: lato;
}

//Title styling:
.title-span-bold {
    color: $dark-blue;
    font-size: 40px;
}
.title-span-light {
    font-weight: lighter;
    font-size: 40px;
}
