.contact-header {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), rgba(0,0,0,0.35) url('/public/img/contact-background.jpg') no-repeat center;
  background-size: cover;
  color: white;
  height: 150px;
  h1 {
    margin-left: 15px;
  }
}

.contact-info {
  background-color: $light-gray;
}

.formulaire {
  background-color: $gray-blue;

  .input_sm {
    border: none;
    border-bottom: 4px solid $dark-blue;
    background-color: $gray-blue;
    &:focus{
        background-color: $dark-blue;
        color: white;
    }
  }
}
