.estates-header {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), rgba(0,0,0,0.35) url('/public/img/estates-background.jpg') no-repeat center;
  background-size: cover;
  color: white;
  height: 150px;
}

.estates-container {
  height: 550px;
  width: 100%;

  //Pane will need span full width on mobile.
  .pane-container {
    height: 100%;
    width: 50%;
    float: left;
  }

  //Map will need to disapear on mobile.
  .map-container {
    height: 100%;
    width: 50%;
    float: right;
  }
}
