.estates-header {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), rgba(0,0,0,0.35) url('/public/img/estates-background.jpg') no-repeat center;
  background-size: cover;
  color: white;
  height: 150px;
  h1 {
    margin-left: 15px;
  }
}

.estates-filter {
  height: 50px;
  width: 100%;
  display: flex;
}

.estates-container {
  height: 550px;
  width: 100%;

  //Pane will need span full width on mobile.
  .estate-cards-container {
    height: 100%;
    width: 50%;
    float: left;
    overflow-y: scroll;

    .estate-cards-wrapper {
      width: 100%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-flow: row wrap;
    }
  }

  //Map will need to disapear on mobile.
  .map-container {
    height: 100%;
    width: 50%;
    float: right;
  }
}
