.st-martin-container{
  h1 {
    color: $dark-blue;
  }
}

.saint-martin-header {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), rgba(0,0,0,0.35) url('/public/img/saint-martin-background.jpg') no-repeat center;
  background-size: cover;
  height: 150px;
  h1 {
    color: #f49542;
    margin-left: 15px;
  }
}

.intro-st-martin {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: light;
}

.map {
  background-color: $light-blue;
  text-align: center;
  img {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (max-width: 520px) {
  .map {
    img {
      width: 100%;
    }
  }
}

.geographie {
  margin-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
.histoire {
  @extend .geographie;
}

.investir {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
}
