@import url("https://fonts.googleapis.com/css?family=Lato");
body {
  font-family: lato; }

.title-span-bold {
  color: #135589;
  font-size: 40px; }

.title-span-light {
  font-weight: lighter;
  font-size: 40px; }

.navbar {
  border-radius: 0;
  margin-bottom: 0; }

.navbar-new {
  background-color: rgba(19, 85, 137, 0.65);
  margin-bottom: 0; }
  .navbar-new .navbar-nav > li > a {
    color: white; }
    .navbar-new .navbar-nav > li > a:hover {
      background-color: #135589; }
    .navbar-new .navbar-nav > li > a:focus {
      background-color: #135589; }
  .navbar-new .navbar-nav > .active > a {
    color: white; }
    .navbar-new .navbar-nav > .active > a:hover {
      color: white;
      background-color: #135589; }
    .navbar-new .navbar-nav > .active > a:focus {
      color: white;
      background-color: #135589; }
  .navbar-new .navbar-text {
    color: white; }
  .navbar-new .navbar-toggle {
    border-color: white; }
    .navbar-new .navbar-toggle:hover {
      background-color: #AED9DA; }
    .navbar-new .navbar-toggle:focus {
      background-color: #AED9DA; }
    .navbar-new .navbar-toggle .icon-bar {
      background-color: white; }

.home-header {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), rgba(0, 0, 0, 0.35) url("/public/img/home-background.jpg") no-repeat center;
  background-size: cover;
  height: 500px;
  margin-bottom: 25px; }

.home-header-title {
  margin-top: 110px;
  text-align: center;
  color: white; }
  .home-header-title h1 {
    font-size: 73px; }
  .home-header-title h2 {
    font-size: 28px; }
  .home-header-title button {
    margin-top: 50px;
    background: none;
    border: 1px solid white; }
    .home-header-title button h1 {
      font-size: 22px;
      padding: 5px;
      margin: 0; }
    .home-header-title button:hover {
      background-color: white;
      color: #135589; }

.home-intro {
  margin-bottom: 50px; }

.home-st-martin button {
  background-color: white;
  color: #135589;
  border: 1px solid #135589; }
  .home-st-martin button h1 {
    padding: 10px; }
  .home-st-martin button:hover {
    background-color: #135589;
    color: white;
    border: none;
    margin: 2px; }

.home-st-martin-img {
  height: 500px;
  width: 90%;
  border-radius: 20px;
  margin: auto;
  background-image: url("/public/img/saintmartin-snippet.jpg");
  background-position: center; }

.home-testimonials {
  height: 500px;
  width: 100%;
  background-color: #EDFAFD;
  margin-top: 50px;
  margin-bottom: 50px; }

.home-contact {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center; }
  .home-contact button {
    background-color: white;
    color: #135589;
    border: 2px solid #135589; }
    .home-contact button h1 {
      padding: 10px; }
    .home-contact button:hover {
      background-color: #135589;
      color: white;
      border: none;
      margin: 2px; }

.saint-martin-header {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), rgba(0, 0, 0, 0.35) url("/public/img/saint-martin-background.jpg") no-repeat center;
  background-size: cover;
  height: 150px;
  color: white; }

.estates-header {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), rgba(0, 0, 0, 0.35) url("/public/img/estates-background.jpg") no-repeat center;
  background-size: cover;
  color: white;
  height: 150px; }

.estates-container {
  height: 550px;
  width: 100%; }
  .estates-container .pane-container {
    height: 100%;
    width: 50%;
    float: left; }
  .estates-container .map-container {
    height: 100%;
    width: 50%;
    float: right; }

.contact-header {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), rgba(0, 0, 0, 0.35) url("/public/img/contact-background.jpg") no-repeat center;
  background-size: cover;
  color: white;
  height: 150px; }

/*# sourceMappingURL=style.css.map */
